<!-- <ng-template #defaultMainContent>
    <router-outlet></router-outlet>
</ng-template> -->

<div id="core-interface-container">

    <!--<div class="wf1-loading-screen" *ngIf="isInitializing">-->
    <!--<h1>Initializing Application</h1>-->
    <!--<wf1-spinner></wf1-spinner>-->
    <!--<h3>Please wait while the application initializes.</h3>-->
    <!--</div>-->

    <div class="main-content-container">
        <router-outlet></router-outlet>
    <!-- <ng-container *ngTemplateOutlet="defaultMainContent"></ng-container> -->
    </div>
</div>
