
::ng-deep .mat-option {
  mat-icon {
    color: gray;
  }

  .mat-option-text {
    line-height: 20px;
    font-size: 16px;

    span {
      vertical-align: middle;
    }
  }


}

.wf1-resources-header-bar{
  button{
    mat-icon{
      margin-right: 6px;
    }
  }
}


