@import '../../node_modules/@angular/material/theming';
@import 'variables';

body {
  margin: 0;
}

.material-icons {
  /* Support for IE */
  font-feature-settings: 'liga';
}

.wf1-loading-screen {
  height: $wf1-loading-screen-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


//.service-request-header {
//  position: fixed;
//  top: $wf1-app-header-height;
//  left: 0;
//  width: 100%;
//}
mat-dialog-container.mat-dialog-container {
  font-family: $font-family-main;
  font-size: $font-size;
}

button.mat-fab.mat-primary,
button.mat-raised-button.mat-primary {
  background-color: $colour-button-primary;
  color: $colour-white;

  &:not([disabled]).intermediate-action{
    background-color: $colour-intermediate-action;
  }
}

button.mat-fab.mat-secondary,
button.mat-raised-button.mat-secondary {
  background-color: $colour-white;
  color: $colour-blue;
}

button.mat-fab:not([disabled]).mat-primary:hover,
button.mat-raised-button:not([disabled]).mat-primary:hover {
  background-color: $colour-button-primary-hover;
}
button.mat-fab,
button.mat-raised-button {
  background-color: $colour-button;
  color: $colour-white;
  font-family: $font-family-main;
  font-size: $font-size;
  box-shadow: none !important;
  border: 1px solid $colour-blue;

  &:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }
}

button.mat-raised-button[disabled]{
  border: 1px solid $colour-medium-grey;
}
.mat-fab[disabled]{
  background-color: $colour-medium-grey !important;
}

button.mat-raised-button:not([disabled]):hover {
  background-color: $colour-button-hover;
}

mat-toolbar.mat-primary.wf1-public-application-header {
  background-color: $colour-header-background;
  padding-left: var(--wf1-gutter-space);
  padding-right: var(--wf1-gutter-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $colour-orange;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: $wf1-public-app-header-height;
  position: fixed;
  width: calc(var(--vw, 1vw) * 100);
  z-index: 2;
  top: 0;

  .bc-logo-div,
  .app-logo-and-title-div,
  .action-items {
    flex: 0 0 auto;
    height: $wf1-public-app-header-img-height;
    padding: 0;
    left: -20px;
    position: relative;

    img {
      height: $wf1-public-app-header-img-height;
    }
  }

  .action-items {
    display: flex;
    padding-bottom: 10px;
    left: unset;
  }

  .app-logo-and-title-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      flex: 0 0 auto;
    }

    span {
      flex: 1 1 auto;
    }
  }

  .action-items > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 38px;

    button {
      position: absolute;
      bottom: 0;
      background: none;
      border: none;
      cursor: pointer;

      mat-icon {
        color: $colour-white;
      }
    }

    .header-caption-label {
      flex: 0 0 64px;
      align-self: flex-end;
    }

    .header-caption-text {
      flex: 0 0 auto;
      align-self: flex-start;
    }
  }

  #header-title {
    font-size: 22px;
    color: $colour-white;
    white-space: nowrap;
    margin-left: 6px;
    margin-bottom: 8px;
  }

  .header-caption-label, .header-caption-text {
    font-size: 9px;
    margin-bottom: 6px;
  }

  .header-caption-label {
    text-align: right;
    color: #9DB1BB;
    margin-right: 8px;
  }

}

.wf1-public-application-header-menu {
  .mat-menu-item {
    color: $colour-light-grey;
  }

  .mat-menu-item:not(:last-child) {
    border-bottom: $colour-light-grey solid 1px;
  }

  .mat-menu-content:not(:empty) {
    padding: 0;
  }

}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab
.mat-menu-item,
.mat-table,
.mat-list-item {
  font-family: $font-family-main;
  font-size: $font-size;
}

.mat-table {
  thead {
    font-family: $font-family-emphasis;
  }
}

#core-interface-container {
  display: flex;
  flex-direction: column;

  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab
  .mat-menu-item,
  .mat-table,
  .mat-list-item {
    font-family: $font-family-main;
    font-size: $font-size;
  }



  .ms-drop ul > li .disabled {
    opacity: 0.45;
  }


  .ms-drop input[type="radio"],
  .ms-drop input[type="checkbox"]{
    margin-top: 0.1rem;
  }

  .justify-space-between{
    justify-content: space-between;
  }

  .flex-x {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  mat-toolbar.wf1-public-application-header {
    flex: 0 0 auto;
  }

  mat-sidenav-container {
    flex: 1 1 auto;
    overflow: unset;

    .mat-drawer-backdrop {
      position: fixed !important;
    }

    mat-sidenav {
      min-width: 220px;
      overflow-x: hidden;
      background-color: $colour-sidenav-background;
      position: fixed;
      border: none;
      z-index: 3;
      top: $wf1-public-app-header-height;
      max-width: 220px;
      //.mat-list-item.nav-item-active{
      //  background: red;
      //}

      .mat-nav-list {
        .mat-list-item{
          color: $opacity-dark-grey;

          .color-sidenav-icon {
            color: $opacity-dark-grey;
          }
        }

        .mat-list-item-content {
          fa-icon {
            width: 24px;
          }

          .navLabel {
            padding-left: var(--wf1-gutter-space);
            padding-right: var(--wf1-gutter-space);
            width: 100%;
          }
        }

      .mat-list-item-disabled{
        color: $colour-disabled-text;

        .color-sidenav-icon{
          color: $colour-disabled-text;
        }
      }

      }
    }


    mat-sidenav-content {
      position: relative;
      overflow: unset;
      background-color: white;
      top: $wf1-public-app-header-height;
      margin-left: 220px;

      #side-nav-toggle {
        width: var(--wf1-gutter-space);
        height: 40px;
        background: #ff0000;
        color: #ffffff;
        position: absolute;
        top: var(--wf1-gutter-space);
        left: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        z-index: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        mat-icon {
          font-size: 18px;
          line-height: 18px;
          height: 18px;
          width: 12px;
        }


      }
    }
  }
}

#core-interface-container .mobile {
  mat-sidenav-container mat-sidenav {
    top: 0;
  }
}

wf1-list-container mat-list.mat-list {
  padding-top: 0;
}

wf1-list-container wf1-spinner {
  height: calc(var(--vh, 1vh) * 75);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-list-option.list-item,
mat-list-item.list-item {
  .mat-list-item-content {
    align-items: center;
    padding: 0 !important;
  }
}


.cdk-overlay-pane {
  max-width: 100% !important;

  .mat-menu-panel {
    min-height: unset;
  }
}


.cdk-overlay-pane .mat-dialog-container {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.mat-tooltip {
  font-size: $font-size;
}

.availability-day-hover{
  white-space: pre;
  text-align: center;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.5 !important;
  }

  &.pdf-viewer-panel {

  }
}

pdf-viewer-overlay {
  overflow-y: scroll;
  /*&::-webkit-scrollbar {
    width:0;
    background: transparent;
  }*/
  //-ms-overflow-style: none;  // IE 10+
  //scrollbar-width: none;  // Firefox
  height: calc(var(--vh, 1vh) * 80);
  width: calc(var(--vw, 1vw) * 85);
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: auto;
}

h1 {
  font-size: $font-size-h1;
  padding-left: var(--wf1-gutter-space);
  display: inline-block;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 200;
  margin-block-end: 0;
  margin-block-start: 0;
  display: inline;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-emphasis;
}

h1,
h2{
  font-weight: $font-weight;
}

a {
  color: #027DB4;

  &.icon-button{
    color: $colour-black;
    text-decoration:none;
    &:hover{
      color: $colour-black;
    }
  }
}

a:hover {
  color: $colour-orange
}

#core-interface-container mat-sidenav .mat-nav-list.mat-list-base {

  a.mat-list-item:hover {
    color: $colour-orange
  }

  a.mat-list-item.nav-item-active {
    font-family: $font-family-emphasis;
    font-weight: 600;
    color: $colour-blue;
  }
}

.cdk-overlay-container .ngx-pagination,
#core-interface-container .ngx-pagination {
  text-align: center;
  padding-inline-start: 0;
  border-radius: $wf1-border-radius;
  margin: 0;

  li:first-child {
    border-left: none;
    border-top: none;
    border-bottom: none;
  }

  li:last-child {
    border-top: none;
    border-bottom: none;
  }

  li {
    border-left: $colour-light-grey solid 1px;
    border-top: $colour-light-grey solid 1px;
    border-bottom: $colour-light-grey solid 1px;
    border-right: none;
    vertical-align: middle;
    margin: 0;
    height: 35px;
    padding: 0;

    a {
      padding: 0;
      line-height: 35px;
    }

    span {
      padding: 0 15px;
      line-height: 35px;
    }

  }

  li.current {
    //background-color: $colour-blue;

    color: #003366;
    font-weight: bold;
    background: white;
    border: 2px solid $colour-blue;
    border-radius: 2px;
  }

  li.disabled span {
    display: none;
  }

  a:hover,
  button:hover {
    color: #131313;
    background-color: $colour-light-orange;
  }

  .pagination-next a::after,
  .pagination-next.disabled::after,
  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    font-family: 'Material Icons';
    vertical-align: middle;
    display: inline;
    font-size: 25px;
    margin: 0;
    line-height: 40px;
    padding: 0 10px;
  }

  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    content: 'arrow_back';
  }

  .pagination-next a::after,
  .pagination-next.disabled::after {
    content: 'arrow_forward';
  }

}


.red {
  color: #C10000 !important;
}

.orange {
  color: #FF8900 !important;
}

.green {
  color: #70B603 !important;
}

.blue {
  color: #027DB4 !important;
}

.black {
  color: #1A1A1A !important;
}

.emphasis {
  font-family: $font-family-emphasis !important;
  font-weight: $font-weight-emphasis !important;
}

.emphasis-more{
  font-family: $font-family-emphasis !important;
  font-weight: $font-weight-emphasis-more !important;
}

.emphasis-more-size {
  font-size: $font-size-emphasis-more !important;
}

.loading-spinner {
  //  display: inline-block;
  padding-left: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.wordwrap {
  white-space: pre-wrap !important; /* CSS3 */
  white-space: -moz-pre-wrap !important;; /* Firefox */
  word-wrap: break-word !important;; /* IE */
}

.field-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 100%;
}

.field-cell {
  flex: 0 0 50%;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.field-label {
  text-align: right;
  font-weight: $font-weight;

}

.field-note {
  font-weight: normal;
  font-size: $font-size-small !important;
}

.field-value {
  text-align: left;
  font-weight: $font-weight-emphasis-more;

  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2px;
}

.wrap {
  white-space: normal;

}

.multiline-tooltip {
  white-space: pre-line;
}

mat-checkbox.mat-checkbox {
  font-family: $font-family-main;
  border: none !important;

  .mat-checkbox-frame {
    border-width: 1px;
    border-color: $colour-dark-grey;
  }

  &.mat-checkbox-disabled {
    .mat-checkbox-frame {
      border-color: #b0b0b0;
    }

    .mat-checkbox-label {
      color: unset;
    }
  }

  &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent;

    .mat-checkbox-checkmark-path {
      stroke: $colour-dark-grey !important;
      stroke-width: 4px;
    }
  }
}

.mat-footer-row th {
  font-weight: $font-weight;
}

.mat-snack-bar-container {
  word-break: break-word;
}

.mat-icon[disabled]{
  color: $colour-disabled-text;
}

.mat-cell[disabled]{
  mat-icon{
    color: $opacity-grey;
  }
}

.icon-button{
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  line-height: 20px;

  &:first-of-type{
    padding-left: 0;
  }

  &:last-of-type{
    padding-right: 0;
  }
}
.mat-radio-button:not(.mat-radio-disabled).mat-accent .mat-radio-inner-circle,
.mat-radio-button:not(.mat-radio-disabled).mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button:not(.mat-radio-disabled).mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button:not(.mat-radio-disabled).mat-accent:active .mat-radio-persistent-ripple{
  background-color: $colour-blue;
}
.mat-radio-button:not(.mat-radio-disabled).mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $colour-blue;
}

.mat-tab-group{
  margin-top: var(--wf1-gutter-space);
  font-family: $font-family-main;

  mat-tab-body{
    font-family: $font-family-main;
    border-bottom: 1px solid $colour-light-grey;
    border-left: 1px solid $colour-light-grey;
    border-right: 1px solid $colour-light-grey;
    border-radius: 0 0 $wf1-border-radius $wf1-border-radius ;

    .tab-top-header{
      display: flex;
      justify-content: flex-end;
      padding: 5px;
    }

    .mat-card:not(.error-panel){
      padding: 0;
      border-radius: 0;
      box-shadow: none;

      &:not(:last-child){
        border-bottom: 1px solid $colour-light-grey;
      }
    }

  }

  //.mat-tab-label{
  //  justify-content: flex-start;
  //  padding-left: 5px;
  //}
  .mat-tab-labels{

    .mat-tab-label {
      //border: 1px solid transparent;
      border-top-left-radius: $wf1-border-radius;
      border-top-right-radius: $wf1-border-radius;
      font-size: $font-size-emphasis;
      font-family: $font-family-main;
      opacity: 1;
      border-width: 1px;
      border-style: solid;
      border-color: $colour-light-grey $colour-light-grey #fff;
      border-bottom: 0;
      background-color: $colour-inactive-tab;

      .header{
        display: flex;
        .mat-icon{
          margin-left: var(--wf1-gutter-space);
          margin-right: calc(-1 * var(--wf1-gutter-space));
          line-height: 22px;
        }
      }

    }

    .mat-tab-label-active {
      font-family: $font-family-main;
      font-weight: $font-weight-emphasis;
      background-color: $colour-active-tab;
    }
  }

  &.mat-primary .mat-ink-bar {
    background-color: $colour-blue;
    //display: none;
  }

}

.mat-action-row.space-between{
  justify-content: space-between !important;

  button:first-of-type{
    margin-left: 0;
  }
}

#core-interface-container {
  font-family: $font-family-main;

  .mat-paginator-container {
    justify-content: center;
    font-size: $font-size;
  }

  .table-wrapper{

    .mat-table {
      .mat-column-remove,
      .mat-column-delete,
      .mat-column-addRemove,
      .mat-column-viewEdit,
      .mat-column-manifest,
      .mat-column-view {
        text-align: center;
        width: 60px;
      }
      .mat-column-manageAssignment{
        text-align: center;
        width: 80px;
      }



      td,th{

        &.mat-sort-header-disabled{
          .mat-sort-header-arrow{
            display: none;
          }
        }
        .mat-sort-header-button{
          text-align: left;
        }

        &.center-align{
          text-align: center;
          justify-content: center;
        }

        &.border-right{
          border-right: 1px solid $colour-light-grey;
          &.border-right-strong{
            border-right: 2px solid $colour-light-grey;
          }
        }

        &.border-top{
          border-top: 1px solid $colour-light-grey;
          &.border-top-strong{
            border-top: 2px solid $colour-light-grey;
          }
        }

        &.border-bottom{
          border-bottom: 1px solid $colour-light-grey;
          &.border-bottom-strong{
            border-bottom: 2px solid $colour-light-grey;
          }
        }

        &.border-left{
          border-left: 1px solid $colour-light-grey;
          &.border-left-strong{
            border-left: 2px solid $colour-light-grey;
          }
        }

      }
    }
  }

}

.owl-dt-popup-container {
  font-family: $font-family-main;
}
//
//.snackbar-error {
//  background-color: #fddede;
//  color: $colour-black;
//  position: inherit;
//
//  .mat-simple-snackbar {
//    font-family: $font-family-main;
//    font-size: 13px;
//  }
//
//  .mat-simple-snackbar-action {
//    color: $colour-errors;
//  }
//}
////
////.snackbar-warning {
////  background-color: rgba(244, 230, 195, 1);
////  color: $colour-black;
////  position: inherit;
////
////  .mat-simple-snackbar {
////    font-family: $font-family-main;
////    font-size: 13px;
////  }
////
////  .mat-simple-snackbar-action {
////    color: #f1780e;
////  }
////
////}

.mat-snack-bar-container {
  color: $colour-white;
  position: inherit;
  padding: 0 !important;
  overflow: hidden;
  font-family: $font-family-main;
  font-size: $font-size;

  .snack-bar-content{
    display: flex;
    align-items: center;
    height: 100%;

    .icon-panel{
      padding:var(--wf1-gutter-space);
      display: flex;
      background-color: $colour-lighter-grey;
      height: 100%;
      align-items: center;
    }

    .message-panel{
      padding:var(--wf1-gutter-space);
      flex: 1;
    }

    button{
      padding: calc(#{var(--wf1-gutter-space)}/2);
      border: 1px $colour-white solid;
      border-radius: $wf1-border-radius;
      color: $colour-white;
      margin-right: var(--wf1-gutter-space);
      cursor: pointer;
      font-family: $font-family-main;
    }
  }

  &.snackbar-success{
    background-color: $colour-success;
    mat-icon{
      color: $colour-success;
    }
    button{
      background-color: $colour-success;
    }
  }

  &.snackbar-error{
    background-color: $colour-errors;
    mat-icon{
      color: $colour-errors;
    }
    button{
      background-color: $colour-errors;
    }
  }

  &.snackbar-info{
    background-color: $colour-blue-grey;
    mat-icon{
      color: $colour-blue-grey;
    }
    button{
      background-color: $colour-blue-grey;
    }
  }

  &.snackbar-update{
    background-color: $colour-blue-grey;
    mat-icon{
      color: $colour-blue-grey;
    }
    button{
      background-color: $colour-blue-grey;
      color: $colour-light-yellow;
    }
  }

}

.float-right {
  float: right;
}
.contacts-spinner-mobile {
  margin: var(--wf1-gutter-space);
}
.float-over-right{
  margin: var(--wf1-gutter-space);
  position: absolute;
  right: 0;
  z-index: 100;
}
.cdk-overlay-container,
wfrm-root {
  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab,
  .mat-menu-item,
  .mat-table,
  .mat-list-item {
    font-family: $font-family-main;
    font-size: $font-size;
  }

  button.mat-menu-item {
    height: 30px;
    line-height: 30px;
  }
  .search-result-card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-result-card-header-actions{
      display: flex;
    }

    h2{
      max-width: calc(100% - 60px);
      overflow-x: hidden;
      text-overflow: ellipsis;
      overflow-y: hidden;
      white-space: nowrap;
      line-height: 24px;
    }
  }

  .summary-card{
    margin: var(--wf1-gutter-space);

    .form-flex-wrapper{
      padding-top: 0;

      .form-flex{

        .field{
          &.info-field{
            margin-bottom: var(--wf1-gutter-space);
          }
        }
      }

    }
  }

  .mat-accordion {
    &>wfrm-base-expansion-panel .mat-expansion-panel-spacing:last-child,
    &>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
      margin-bottom: var(--wf1-gutter-space) !important;
    }

    mat-expansion-panel:not(.mat-expanded),
    mat-expansion-panel.mat-expansion-panel-spacing {
      margin: var(--wf1-gutter-space) var(--wf1-gutter-space);

      .mat-expansion-panel-header {
        padding-left: var(--wf1-gutter-space);
        padding-right: var(--wf1-gutter-space);
        height: unset !important;
        min-height: 50px !important;
        border-bottom: 1px solid $colour-light-grey;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-family: $font-family-main;

        .expansion-header{
          align-items: center;
          padding: 5px 0;
        }

        mat-panel-description{
          flex-grow: unset;
          margin-right: 5px;
          margin-left: -5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &[aria-disabled=true]{
          color: unset;
        }

        h1{
          padding: 0;
          margin: 0;
        }

      }

      .mat-expansion-panel-content{
        font-family: $font-family-main;
        .mat-expansion-panel-body{
          padding: 0;
        }
      }

      .wf1-expansion-panel-body {
        padding: 0 var(--wf1-gutter-space) var(--wf1-gutter-space);
        font-size: $font-size;
        font-family: $font-family-main;

        .expansion-header-sub{
          display: flex;
          justify-content: flex-end;

          h3{
            margin-bottom: 0;
          }
        }

        .table-wrapper{
          margin: var(--wf1-gutter-space) 0;
          width: 100%;
        }

        .summary-card{
          margin: var(--wf1-gutter-space) 0 0 0;
        }

        mat-card.mat-card.wf1-resources-header-bar {
          padding: 0;
        }

        mat-expansion-panel.mat-expansion-panel-spacing{
          margin: var(--wf1-gutter-space) 0 0 0;
        }

        .card-wrapper{
          margin: 0;
        }
      }

      .mat-tab-body{
        .table-wrapper{
          margin: var(--wf1-gutter-space);
          width: calc(100% - 2*var(--wf1-gutter-space));
        }
      }

      .mat-action-row {
        border-bottom: 1px solid $colour-lighter-grey;
        padding: var(--wf1-gutter-space);
        background-color: $colour-lighter-grey;
      }


    }

    .mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
      margin-bottom: var(--wf1-gutter-space);
    }

  }

  .contact-info div.form-flex-wrapper{
    padding-left: var(--wf1-gutter-space);
    padding-right: var(--wf1-gutter-space);
  }

  .form-flex-wrapper{
    font-family: $font-family-main;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(-1 * var(--wf1-gutter-space));

    &.hide-labels{
      .form-flex .field {
        .mat-form-field .mat-form-field-infix {
          padding-top: 0;
          .mat-form-field-label-wrapper{
            display: none;
          }
        }

      }

      .form-flex .field>mat-label{
        display: none;
      }

    }

    &.half-width{
      width: 50%;
    }

    .form-flex-thirds {
      //padding-top: 10px;
      display: flex;
      flex-flow: row nowrap;
      flex-basis: 100%;
      flex-grow: 1;

      .field {
        flex-basis: calc(33% - #{var(--wf1-gutter-space)});
        margin-left: var(--wf1-gutter-space);
      }
    }

    .form-flex {
      display: flex;
      flex-flow: row nowrap;
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      overflow: hidden;

      &.flex-wrap{
        flex-flow: wrap;

        &.flex-20 .field{
          flex-basis: calc(20% - var(--wf1-gutter-space));
        }
      }

      &.form-flex-thirds {
        flex-basis: 100%;
        max-width: 100%;

        .field {
          flex-basis: calc(33.3333% - #{var(--wf1-gutter-space)});
          margin-left: var(--wf1-gutter-space);
        }
      }

      &.flex-basis-full{
        flex-basis: 100%;
        flex-flow: wrap;
        max-width: 100%;
      }


      .field {
        flex-basis: calc(50% - #{var(--wf1-gutter-space)});
        margin-left: var(--wf1-gutter-space);

        .mat-form-field-subscript-wrapper{
          margin-top: 0.2em;
        }

        &.field-full{
          flex-basis: 100%;
        }

        &.no-underline{
          .mat-form-field-underline{
            display: none;
          }
        }

        &.info-field{
          max-width: calc(50% - var(--wf1-gutter-space));
          margin-bottom: calc(2 * var(--wf1-gutter-space));

          &>.label{

          }

          &>.value{
            margin-top: 5px;
            text-overflow: ellipsis;
            overflow-x: hidden;
            font-weight: $font-weight-emphasis-more;
            white-space: nowrap;
            display: block;
          }
        }


        &.flex-1{
          flex:1;
          flex-basis: 40%;
        }

        &.flex-2{
          flex:2;
          flex-basis: 100%;
        }

        &.selector,
        &.action{
          flex-basis: 50px;
          flex-shrink: 0;
          display: flex;

          .mat-form-field{
            //.mat-form-field-flex{
            //  padding-top: 0;
            //}

            .mat-form-field-infix{
              display: flex;
              justify-content: center;

              input{
                width: 0;
              }

              .mat-radio-container{
                margin-left: 3px;
              }
            }
            .mat-form-field-label {
              text-align: center;
            }

            .mat-form-field-underline{
              display: none;
            }
          }

        }

        &.action{
          .mat-form-field-infix button {
            margin-top: -2px;
          }
        }

        .mat-form-field{
          width: 100%;
          font-family: $font-family-main;

          .date-picker-input {
            display: flex;
            min-width: 0;

            button {
              min-width: 0;
            }

            .mat-button {
              line-height: 0px;
              margin-top: -5px;
            }

            .mat-icon {
              margin-top: -5px;
              font-size: 1.5rem;
            }
          }

          &.mat-form-field-invalid .mat-form-field-label {
            color: $colour-errors;
          }

          .mat-form-field-flex, .mat-form-field-infix{
            width: 100%;
          }

          .mat-form-field-infix{
            padding-top: 1em;
          }

          //.mat-form-field-label{
          //  font-size: 18px;
          //}

          .label{
            &.required:after{
              color: $colour-errors;
              content: " *";
            }
          }
        }

        .mat-form-field.readonly {
          cursor: not-allowed;

          [readonly="true"]{
            color: $colour-disabled-text;
            cursor: not-allowed;
          }

          mat-radio-button .mat-radio-label{
            cursor: not-allowed;
          }


          &.mat-form-field-appearance-standard .mat-form-field-underline {
            background-position: 0;
            background-color: transparent;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
            background-size: 4px 100%;
            background-repeat: repeat-x;
            color: $colour-black;

            .mat-form-field-ripple{
              background-color: transparent;
            }
          }
          &.mat-form-field-type-mat-native-select.mat-form-field-invalid .mat-form-field-infix::after{
            color: rgba(0, 0, 0, 0.54);
          }
          &.mat-form-field-invalid .mat-form-field-label{
            color: $colour-black;
          }

          mat-error{
            display: none;
          }
        }

        .field-label-value.visible-nowrap-subscript-wrapper{

          .mat-form-field-subscript-wrapper{
            overflow: visible;
            white-space: nowrap;
          }
        }

        mat-error {
          font-size: $font-size-small;
          text-align: left;
          position: relative;
          color: $colour-errors;
        }

      }
    }
  }

  .mat-accordion mat-expansion-panel.mat-expansion-panel-spacing .wf1-expansion-panel-body .expansion-panel-table-with-actions{
    .table-wrapper{
      margin-top: 0;
      border-top: none;
    }
  }

  .expansion-panel-actions{
    &.table-search-header{
      border-top: 1px solid $colour-light-grey;
      border-bottom: 1px solid $colour-light-grey;
      margin: var(--wf1-gutter-space) 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      >button{
        margin: 6px;
      }

      .availability-nav.search-and-filters{
        display: flex;
        align-items: flex-end;

        >*{
          margin: 6px;
          display: inline-block;
          width: auto !important;
        }

        .label{
          font-weight: $font-weight-emphasis;
        }

        .date-picker-input {
          display: flex;
          min-width: 0;

          input{
            background-color: $colour-white;
          }

          button {
            min-width: 0;
          }

          .mat-button {
            line-height: 0px;
            margin-top: 4px;
            margin-left: -45px;
          }

          .mat-icon {
            margin-top: -5px;
            font-size: 1.5rem;
          }
        }

      }

    }

  }



  .table-wrapper.availability-grid {
    border-top: none;
    border-bottom: none;

    .highlight{
      background-color: $colour-highlight;
    }

    .highlight2{
      background-color: $colour-highlight2;
    }

    .highlight3{
      background-color: $colour-highlight3;
    }

    .highlight4{
      background-color: $colour-highlight4;
    }

    .mat-cell.selected-grid-item{
      background-color: $colour-blue !important;
      color: $colour-white;
    }

    .mat-table{
      tr{
        border-right: 1px solid $colour-light-grey;
      }
      .mat-row:hover {
        background-color: $colour-white;
      }
      .mat-row:nth-child(odd){
        background-color: $colour-white;
      }

      th{
        &.day,
        &.availability-status-cell{
          border-top: 1px solid $colour-light-grey;

        }

        .week-header{
          display: flex;
          justify-content: space-between;
          >*{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }

        }
      }
      td,th{
        max-width: unset;

        &.mat-cell{
          .mat-icon{
            padding-right: 10px;
          }
          span:not(.mat-badge-content){
            width: unset !important;
          }
        }
        &.day{
          //width: 60px;
          min-width: 60px;
          //max-width: 60px;
        }

        &.border-bottom-none{
          border-bottom: none;
        }

        .left-align{
          justify-content: flex-start;
        }

        .right-align{
          justify-content: flex-end;
        }
        .nav-action{
          color: $colour-blue;
          cursor: pointer;
        }
      }

      td{
        &.day{
          white-space: normal !important;
          &:hover{
            background-color: $colour-highlight4;
            cursor: pointer;
          }

          .mat-menu-trigger{
            cursor: pointer;
          }
        }

      }

      .availability-status-cell{
        border-left: 1px solid $colour-light-grey;
        div.availability-status{
          display: flex;
          padding-right: 30px;

          .mat-badge-content{
            right: 0;
            top: -2px;
          }
        }
      }

    }
  }

}

.cdk-overlay-container .mat-dialog-content{

  .form-flex{
    flex-direction: column;
    display: flex;

    .field{
      display: flex;
      flex-flow: row nowrap;
      flex-direction: column;

      .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
      .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
      .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
        border-width: 1px;
      }

      .mat-form-field-infix {
        border-top: none;
        padding-bottom: 0.5em;
        padding-top: 1em;
      }

      .label{
        white-space: nowrap;
        padding-right: var(--wf1-gutter-space);
        padding-top: calc(1em - 1px);
        flex: 0 0 30%;
        //text-align: right;

        &.required:after{
          color: red;
          content: " *";
        }
      }
    }
  }

}

//wfrm-root .form-flex-wrapper.half-width{
//  width: 50%;
//}

//wfrm-root .form-flex.flex-basis-full{
//  flex-basis: 100%;
//}

.owl-dt-popup-container{
  font-family: $font-family-main
}

.mat-expansion-panel-content,
button,
.mat-card{
  font-family: $font-family-main;
  font-size: $font-size;
}


.mat-action-row{
  align-items: center;

  .action-button-wrapper{
    display: flex;
  }
}

.selection-summary .action-row-warning {
  margin-right: 30px;
}

.action-row-warning{
  display: flex;
  align-items: center;
  margin-right: 10px;
  .mat-icon{
    color: $colour-warnings;
    margin-right: 10px;
  }
}

input{
  text-overflow: ellipsis;
}
.mat-action-row{
  &.justify-end{
    justify-content: flex-end;
  }

  &.justify-start{
    justify-content: flex-start;
  }

}

.margin-gutter{
  margin: var(--wf1-gutter-space);
}

.all-caps{
  text-transform: uppercase;
}

.background-lighter-grey{
  background-color: $colour-lighter-grey;
}

textarea.mat-input-element.cdk-textarea-autosize{
  height: 15px;
  overflow: hidden;
}

.select-read-only-cursor {
  cursor: not-allowed;
  pointer-events: none;
}
.display-flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.display-flex-row{
  display: flex !important;
  flex-direction: row !important;

  &.justify-end{
    justify-content: flex-end;
  }

  &.justify-start{
    justify-content: flex-start;
  }

  &.justify-space-between{
    justify-content: space-between;
  }
}

.space-left { padding-left:50px; }


mat-error.mat-error {
  color: $colour-errors;
}

.align-flex-start{
  align-items: flex-start !important;
}
.align-center{
  align-items: center !important;
}

.text-align-right{
  text-align: right !important;
}

.max-height-300{
  max-height: 300px;
}

.table-search-header .search-and-filters .field.filter-checkbox-group{
  flex-basis: 220px !important;

  .checkbox-group{
    display: flex;
    height: 37.5px;

    .mat-checkbox{
      padding-left: 0;
      margin-right: 8px;
    }

    .mat-checkbox-inner-container{
      height: 24px;
      width: 24px;
    }
  }
}

.intermediate-action{
  &:not([disabled]){
    color: $colour-intermediate-action;
  }

  &.mat-fab.mat-primary span,
  &.mat-raised-button.mat-primary span{
    color: $colour-white;
  }
}

.margin-left-gutter{
  margin-left: var(--wf1-gutter-space);
}

.margin-right-gutter{
  margin-right: var(--wf1-gutter-space);
}

.margin-bottom-gutter{
  margin-bottom: var(--wf1-gutter-space);
}

.margin-top-gutter{
  margin-top: var(--wf1-gutter-space);
}

.padding-left-gutter{
  padding-left: var(--wf1-gutter-space);
}

.padding-right-gutter{
  padding-right: var(--wf1-gutter-space);
}

.padding-bottom-gutter{
  padding-bottom: var(--wf1-gutter-space);
}

.padding-top-gutter{
  padding-top: var(--wf1-gutter-space);
}

.columns{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  flex-basis: 100%;

  .col{
    flex-basis: 50%;

    .form-flex{
      max-width: unset;
    }

    .info-card{
      margin: var(--wf1-gutter-space);
      padding: var(--wf1-gutter-space);
      text-align: center;
      height: calc(100% - 4 * var(--wf1-gutter-space));
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 2;
      box-shadow: none;
      border: solid 1px $colour-light-grey;
      border-radius: $wf1-border-radius;
      background-color: $colour-lighter-grey;
    }
  }
}

.italic{
  font-style: italic;
}


//
//.mat-tooltip-panel{
//  transform: translateX(-50%);
//}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: $font-family-main;
  font-size: $font-size;
  color: #6a6a6a;
  opacity: 1; /* Firefox */
  padding-left: 2px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: $font-family-main;
  font-size: $font-size;
  color: #6a6a6a;
  padding-left: 2px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-family: $font-family-main;
  font-size: $font-size;
  color: #6a6a6a;
  padding-left: 2px;
}

.flex-column{
  flex-direction: column;
}

.visible-nowrap{
  overflow-x: visible;
  white-space: nowrap;
}


.jasper-container{
  visibility: hidden;
  height: 0;
  width: 0;
}

.owl-dt-container{
  .owl-dt-calendar-table .owl-dt-calendar-cell-content.owl-dt-calendar-cell-out {
    opacity: 0.55;
    color: $colour-black;
  }

  .owl-dt-calendar-table .owl-dt-calendar-cell-content {
    opacity: 1;
    color: $colour-black;
  }

  .owl-dt-calendar-table .owl-dt-calendar-header {
    opacity: 0.6;
    color: $colour-black;
  }

  .owl-dt-calendar-table .owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected {
    color: $colour-white !important;
  }

  .owl-dt-calendar-table .owl-dt-calendar-cell-content.owl-dt-calendar-cell-out.owl-dt-calendar-cell-selected {
    opacity: 0.8;
  }
  .owl-dt-calendar-table .owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected{
    background-color: $colour-blue;
  }

  .owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background-color: rgba(0, 51, 102, 0.1);
  }

  .owl-dt-container-info .owl-dt-container-info-active {
    color: $colour-blue;
  }
}

